img{
    max-width:100% ;
}
form{
    
    text-align:center;
    color:red;
    background-color: bisque;
    padding: top=30px;
    font-family: "Times New Roman";
    line-height: 2;
    font-size: 20px;
}
button{
    height: 10px;
    width: 10px;
}